<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PokedexMon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C167821A1E4C1C590030B4F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C167822E1E4C1C590030B4F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C16782391E4C1C590030B4F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
